extends layout

block metadata
  meta(
    name="description"
    content="Playlist of the Day Contact Page"
  )

block content
  .vibe-content-section.vibe-see-through-bkgd
    h2.vibe-page-title Contact
    form(action="/contact/sendQuestionsCommentsConcerns" method="POST")
      .form-group
        label Preferred Email
        input.form-control(name="email" type="text" required)
      .form-group
        label Questions, Comments, or Concerns
        textarea.form-control(
          name="questionsCommentsConcerns" 
          type="text" 
          rows="4" 
          required
        )
      em#contact-message #{message}
      button#submit-contact-btn.btn.btn-outline-info(type="submit") Submit