extends layout

block metadata
  meta(
    name="description"
    content="Playlist of the Day Home"
  )

block content
  .vibe-content-section.vibe-see-through-bkgd
    h1.vibe-page-title= title
    h3.vibe-page-title= date
    .vibe-two-col-container
      .vibe-col-two
        p Welcome to our #{title} project! Feel free to suggest whatever song fits how you are feeling today!
        .vibe-add-song-btn-container
          button#vibe-add-song-btn.btn.btn-dark(type="button") 
            i.vibe-add-song-icon.fas.fa-plus.fa-lg 
            span Add a Song
          hr.vibe-major-hr
        .vibe-contribute-song-container
          h4.vibe-contribute-song-container-heading Contribute Your Song

          form#search-form(action="")
            input(type="hidden" id="hidden_token")
            input#track-input.form-control.trackSearch(name="trackName" type="text" placeholder="Track name")
            input#artist-input.form-control.artistSearch(name="artistName" type="text" placeholder="Artist name")
            button#search-btn.btn.btn-dark.btnSubmit(type="submit") 
              i.fas.fa-search
          ul.song-list
          div.buttonDiv
            

      .vibe-col-one
        button#export-playlist-btn.btn.btn-primary(type="button") Export playlist
          i.vibe-music-icon.fas.fa-music.fa-3x
        ol.vibe-song-list
          // Add class "vibe-upvote-btn-pressed" to indicate that a song has been upvoted!!
          li.vibe-song-list-item Example Song 1 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 999329
            hr
          li.vibe-song-list-item Example Song 2 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 4372These
            hr
          li.vibe-song-list-item Example Song 3 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 37numbers
            hr
          li.vibe-song-list-item Example Song 4 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 384457are
            hr
          li.vibe-song-list-item Example Song 5 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 1234334all
            hr
          li.vibe-song-list-item Example Song 6 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 8953hard
            hr
          li.vibe-song-list-item Example Song 7 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 374coded
            hr
          li.vibe-song-list-item Example Song 8 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 3457for
            hr
          li.vibe-song-list-item Example Song 9 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 276now
            hr
          li.vibe-song-list-item Example Song 10 by Example Artist
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count 124
            hr
    .vibe-footer
      a.float-right(href="#") Back to top

  script(src="client.js")