extends layout

block metadata
  meta(
    name="description"
    content="Playlist of the Day Home"
  )

block content
  .vibe-content-section.vibe-see-through-bkgd
    h1.vibe-page-title= title
    em#add-song-error-message #{message}
    h3.current-date= date
    .vibe-two-col-container
      .vibe-col-two
        p Welcome to our #{title} project! Feel free to suggest whatever song fits how you are feeling today!
        #vibe-add-song-btn-container
          button#vibe-add-song-btn.btn.btn-dark(type="button" data-toggle="collapse" data-target="#vibe-contribute-song-container") 
            i.vibe-add-song-icon.fas.fa-plus.fa-lg 
            span Add a Song
        #vibe-contribute-song-container.collapse
          h4#vibe-contribute-song-container-heading Contribute Your Song
          form#search-form(action="")
            input(type="hidden" id="hidden_token")
            input#track-input.form-control.trackSearch(name="trackName" type="text" placeholder="Track name")
            input#artist-input.form-control.artistSearch(name="artistName" type="text" placeholder="Artist name")
            button#search-btn.btn.btn-dark.btnSubmit(type="submit") 
              i.fas.fa-search
          ul.song-list
          div.buttonDiv
        hr#contribute-song-hr.vibe-major-hr
            

      .vibe-col-one
        button#export-playlist-btn.btn.btn-primary(type="button") Export playlist
          i.vibe-music-icon.fas.fa-music.fa-3x
        ol.vibe-song-list
          each Song in song_list
            li.vibe-song-list-item #{Song.Title} #{Song.Artist}
            br
            .vibe-voting-section
              button.vibe-upvote-btn.btn.btn-info(type="button") 
                i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
                span Upvote
              .vibe-votes 
                b Votes
                p.vibe-vote-count #{Song.Likes}
            hr
    .vibe-footer
      a.float-right(href="#") Back to top
  script(src="client.js")
  script(src="/scripts/date.js")