extends layout

block metadata
  meta(
    name="description"
    content="Playlist of the Day Home"
  )

block content
  .vibe-content-section.vibe-see-through-bkgd
    h1.vibe-page-title= title
    h3.vibe-page-title= date
    .vibe-two-col-container
      .vibe-col-two
        p Welcome to our #{title} project!
        .vibe-add-song-btn-container
          button#vibe-add-song-btn.btn.btn-dark(type="button") 
            i.vibe-add-song-icon.fas.fa-plus.fa-lg 
            span Add a Song
          hr.vibe-major-hr
        .vibe-contribute-song-container
          h4 Contribute Your Song
          form#vibe-search-form(
            action="/search"
            method="POST"
          )
            input#vibe-track-input(name="trackName" type="text" placeholder="Track name")
            br
            input#vibe-artist-input(name="artistName" type="text" placeholder="Artist name")
            br
            button#vibe-search-btn.btn.btn-dark(type="submit") Search
      .vibe-col-one
        button#vibe-export-playlist-btn.vibe-container-heading.btn.btn-primary(type="button") Export playlist
          i.vibe-spotify-icon.fab.fa-spotify.fa-3x
        ol.vibe-song-list
          li.vibe-song-list-item Example Song 1 by Example Artist
            br
            button.vibe-upvote-btn.btn.btn-info(type="button") 
              i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
              span Upvote
            hr
          li.vibe-song-list-item Example Song 2 by Example Artist
            br
            button.vibe-upvote-btn.btn.btn-info(type="button") 
              i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
              span Upvote
            hr
          li.vibe-song-list-item Example Song 3 by Example Artist
            br
            button.vibe-upvote-btn.btn.btn-info(type="button") 
              i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
              span Upvote
            hr
          li.vibe-song-list-item Example Song 4 by Example Artist
            br
            button.vibe-upvote-btn.btn.btn-info(type="button") 
              i.vibe-upvote-icon.fas.fa-thumbs-up.fa-2x
              span Upvote
            hr
