extends layout

block metadata
  meta(
    name="description"
    content="Playlist of the Day"
  )

block content
  .vibe-content-section.vibe-see-through-bkgd
    h1.vibe-page-title= title
    h3#current-date.vibe-page-title
    ol.vibe-song-list
      each Song in song_list
        li.vibe-song-list-item #{Song.Title} #{Song.Artist} | #{Song.Likes} Likes
        br
    .vibe-footer
      a.float-right(href="#") Back to top
  script(src="/scripts/date.js")