extends base

block metadata
  link(
    rel="stylesheet"
    href="/stylesheets/login.css"
  )
  meta(
    name="description"
    content="Reset password page for Playlist of the Day account"
  )

block page
  .vibe-content-section
    .vibe-register-block
      h2.vibe-page-title Forgot Your Password?
      form(action="" method="POST")
        .form-group
          label Username
          input.form-control(name="username" type="text" required)
        .form-group
          label Email
          input.form-control(name="email" type="text" required)
        .form-group
          label Select and Answer your Security Question for Verification:
          select.form-control(id="securityquestion" name="securityquestion" required)
            option(value="What was the first concert you went to?") What was the first concert you went to?
            option(value="What is your favorite song?") What is your favorite song?
            option(value="What is your dream band name?") What is your dream band name?
          input.form-control(name="securityanswer" type="text" placeholder="Answer" required)
        hr.vibe-major-hr
        .form-group
          label Create a New Password
          input.form-control(name="newpassword" type="password" required)
        .form-group
          label Confirm Password
          input.form-control(name="confirmpassword" type="password" required)
        p#reset-password-message #{message}
        button#reset-password-btn.btn.btn-outline-info(type="submit") Reset Password
    .vibe-login-link
      a(href="/login") Return to login page?