extends layout

block metadata
  link(
    rel="stylesheet"
    href="/stylesheets/login.css"
  )
  meta(
    name="description"
    content="Update account information page for Playlist of the Day"
  )

block content
  .vibe-content-section.vibe-see-through-bkgd
    h2.vibe-page-title Update Account Information
    p Only enter values for the info you want to change!
    h3.vibe-midpage-heading Personal Info
    form(action = '/updateAccount' method = 'POST')
      .form-group
        label New First Name
        input.form-control(name="firstname" type="text")
      .form-group
        label New Last Name
        input.form-control(name="lastname" type="text")
      .form-group
        label New Email
        input.form-control(name="email" type="text")
      .form-group
        label Security Question
        select.form-control(id="securityquestion" name="securityquestion")
            option(value="What was the first concert you went to?") What was the first concert you went to?
            option(value="What is your favorite song?") What is your favorite song?
            option(value="What is your dream band name?") What is your dream band name?
        input.form-control(name="securityanswer" type="text")
      br
      br
      h3.vibe-midpage-heading Credentials
      .form-group
        label New Username
        input.form-control(name="username" type="text")
      .form-group
        label New Password
        input.form-control(name="newpassword" type="password")
      .form-group
        label Confirm New Password
        input.form-control(name="confirmnewpassword" type="password")
      br
      button#update-account-btn.btn.btn-outline-info(type="submit") Save Changes
      h1 #{message}
    hr.vibe-major-hr
    #delete-btn-container
      button#delete-account-btn.btn.btn-danger(type="button") 
        span Delete Account
          i.fas.fa-exclamation-triangle.fa-2x